#box1,#box2 {
  width: 100px;
  height: 100px;
  background: blue;
  color: #fff;

  position: relative;
}
#box1 {
  top: 500px;
}
#box2 {
  top: 800px;
}

.img-box{
  display: inline-block;
  height: 100%;
  width: 100%;
  object-fit: contain;
  position: relative;
  top: 900px;
}
